$main-font:Roboto, sans-serif;
$main-color: #E4C1AE;
$hover-color: #e49469;
$header-font-weight: 700;
$paragraph-font-weight: 300;
$media-breakpoint-small:1000px;
$media-breakpoint-medium:1500px;
$header-font-size: 42px;
$paragraph-font-size: 16px;