@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
$main-font:Roboto, sans-serif;
.container {
    position: relative;
    width: 1440px;
    height: 960px;
    background: #FFFFFF;
}
.mainImage{
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
}
.title {
    position: absolute;
    width: 380px;
    height: 50px;
    left: calc(50% - 380px/2 + 300px);
    top: calc(50% - 50px/2 - 319px);

    /* T1 */

    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    /* or 50px */


    /* Dark #1 */

    color: #121212;
}
.description{
    position: absolute;
    width: 380px;
    height: 96px;
    left: calc(50% - 380px/2 + 300px);
    top: calc(50% - 96px/2 - 222px);

    /* Body Copy */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    /* Dark #1 */

    color: #121212;
}
.openPopupButton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;

    position: absolute;
    width: 128px;
    height: 48px;
    left: 830px;
    top: 338px;

    /* Primary #1 */

    background: #E4C1AE;
    border-radius: 32px;
    border-style: solid;
    border-color: #E4C1AE;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* set text color to white */
    color: #FFFFFF;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .resetButton{
    display: flex;
    /* Primary #1 */

    background: #E4C1AE;
    border-radius: 32px;
    border-style: solid;
    border-color: #E4C1AE;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* set text color to white */
    color: #FFFFFF;
}
.popupHeader{
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
}
.popupText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}